<!doctype html>
<head>
<title>Timeless</title>
</head>
<body>
	<h1>Timeless</h1>
	<table>
		<thead>
			<tr>
				<th>Week of</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Total</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input placeholder="mm/dd/yyyy" name="date" type="date"></td>
				<td><input placeholder="0.0" name="hours" type="number"></td>
				<td><input placeholder="0.0" name="hours" type="number"></td>
				<td><input placeholder="0.0" name="hours" type="number"></td>
				<td><input placeholder="0.0" name="hours" type="number"></td>
				<td><input placeholder="0.0" name="hours" type="number"></td>
				<td></td>
				<td><button name="action" value="update">Update</button></td>
				<td><button name="action" value="submit">Submit</button></td>
			</tr>
		</tbody>
	</table>
</body>




